<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>靓号列表</h1>
<a href="http://127.0.0.1:8000/depart/list/">部门管理</a>
<a href="http://127.0.0.1:8000/user/list/">用户管理</a>
<a href="http://127.0.0.1:8000/pretty/list/">靓号管理</a>
<a href="http://127.0.0.1:8000/upload/">图像增强</a>
<a href="http://127.0.0.1:8000/pretty/add/">新建靓号</a>
<div style="float:right;width:400px;" >
    <input type="text" placeholder="搜索" name = ”sol“ class = “”
</div>
<table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>电话号码</th>
            <th>价格</th>
            <th>等级</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in queryest %}
    <tr>
        <td>{{ obj.id }}</td>
         <td>{{obj.mobile}}</td>
        <td>{{obj.price}}</td>
        <td>{{obj.get_level_display}}</td>
        <td>{{obj.get_status_display}}</td>
         <td>
             <a href="http://127.0.0.1:8000/pretty/{{ obj.id }}/edit/">修改</a>
             <a href="http://127.0.0.1:8000/pretty/{{ obj.id }}/delete/" >删除</a>
         </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>